<form class="ui segment form" action="/dashboard/addpoi" method="POST">
    <div class="ui attached message">
        <p>Add Point of Interest</p>
    </div>

    <h3 class="ui header">Point of Interest</h3>
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text" name="name">
            <div class="ui pointing label">POI name</div>
        </div>
        <div class="field">
            <label>Category</label>
            <input type="text" name="category">
            <div class="ui pointing label">POI category</div>
        </div>
    </div>
    <div class="field">
        <label>Description</label>
        <input placeholder="description" type="text" name="description">
        <div class="ui pointing label">POI description</div>
    </div>
    <br><br>
    <div class="ui large buttons">
         <button class="ui blue submit button"> Add to {{ region.name }}</button>
    </div>
</form>
<script>
    $('.ui.dropdown')
        .dropdown();

    $('.ui.form')
        .form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Enter name'
                        }
                    ]
                },
                category: {
                    identifier: 'category',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Enter category'
                        }
                    ]
                },
                description: {
                    identifier: 'description',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a description'
                        },
                        {
                            type: 'minLength[22]',
                            prompt: 'Your description must be at least {ruleValue} characters'
                        }
                    ]
                }
            })
        ;
    </script>
