<div class="ui container">
  <nav class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <header class="header item"><a href="/"> Home </a></header>
    <div class="right menu">
      <a id="privacy" class="ui inverted button" href="/privacy"> Privacy </a>
      <a id="signup" class="ui inverted button" href="/signup"> Signup  </a>
      <a id="login" class="ui inverted button" href="/login">  Login   </a>
    </div>
  </nav>
</div>
