{% include "layouts/main.html" %}

<div class="ui container"> 
    <div class="ui inverted vertical masthead center aligned segment">
                    
        {% include "partials/mainmenu.njk" %}
                        
        <section class="ui segment">
            <div class="column">
                    <div class="ui relaxed divided list">

                {%- if regions is defined and regions %}
                                    
                        {%- for region in regions %}
                            <div class="item">
                                <i class="large github middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">
                                        <a href="/poi/{{ region.id }}"> {{ region.name }} </a> 
                                        <a href="/dashboard/deleteregion/{{ region.id }}">
                                            <i class="ui large red icon trash"></i>
                                        </a>
                                    </div>
                                     <div class="description"> {{ regions|length }} regions </div>
                                </div>
                            </div>
                        {%- endfor %}
                    </div>

                {% else %}
                    {{  'No regions found.' }}
    
                {% endif %}

            </div>
        </section> 
    </div>
</div>
