{% include "layouts/main.html" %}

{% from "partials/macros.njk" import regiontable, regionrow with context %}

<div class="ui pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    {%- if regions %}
        {% include "partials/mainmenu.njk" %}
    {%- endif %}

      <section class="ui stacked segment">
          <div class="ui grid">
              <aside class="six wide column">
                  <img class="ui image" src="/images/Beacha_sculpture_by_David_Walsh.jpg">
              </aside>
              <article class="ten wide column">

                  {%- if regions %}
                      {%- include "partials/regionlist.njk" %}
                  {%- else %}
                      <header class="ui header"> Oileain - Points Of Interest </header>
                      <p>Exploring David Walsh's Oileain : Islands of Ireland.</p>
                      <br><br><br>
                  {%- endif %}

              </article>
          </div>
      </section>
      <section class="ui stacked segment">
          <div class="ui grid">
              <article class="ten wide column">
                  {%- include "partials/addregion.njk" %}
              </article>
          </div>
      </section>
  </div>
</div>
