{# include "layouts/main.html" #}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
      {%- include "partials/welcomemenu.html"|safe %}

      <section class="ui stacked segment">
          <div class="ui grid">
              <aside class="six wide column">
                  <img class="ui image" src="/images/Beacha_sculpture_by_David_Walsh.jpg">
              </aside>
              <article class="ten wide column">
                  <header class="ui header"> Oileain - Points Of Interest </header>
                  <p>Exploring David Walsh's Oileain : Islands of Ireland.</p>
                  {{ error }}
              </article>
          </div>
      </section>
  </div>
</div>
