{% include "layouts/main.html" %}

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        {%- if pois or regions %}
            {% include "partials/mainmenu.njk" %}
        {%- else %}
            {% include "partials/welcomemenu.html" %}
        {%- endif %}

        <section class="ui center aligned one column grid container">

            <div class="ui column">

                <article class="ui container large message">

                    <h1 class="ui large heading">Before you continue</h1>
                    At PoiApp, we are committed to maintaining the trust and confidence of our visitors to our web site. In
                    particular, we want you to know that the nodeJs Gym is not in the business of selling, renting or trading
                    email lists with other companies and businesses for marketing purposes. We just don’t do that sort of thing.
                    But just in case you don’t believe us, in this Privacy Policy, we’ve explain when and why we collect your
                    personal information, how we use it, the limited conditions under which we may disclose it to others and how
                    we keep it secure. Grab a cuppa and read on.

                    As part of the registration process, we collect personal information. We use that information for a couple
                    of reasons: to tell you about stuff you’ve asked us to tell you about; to contact you if we need to obtain
                    or provide additional information; to check our records are right and to allow you to use nodeJs Gym.

                    'OK' to continue using the product, otherwise, you will not be able to access the resource.
                    <br>
                    <br>
                    <a href="/privacy/ok" class="ui massive primary button">Continue</a>

                </article>
            </div>

        </section>
    </div>
</div>
