{% include "layouts/main.html" %}
  
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        {%- include "partials/welcomemenu.html" %}

        <section class="ui left aligned doubling one column stackable grid container">
            <div class="column">
                {%- if pois is defined and pois %}
                    {{ pois }}
                {%- elif regions is defined and regions %}
                    {{ regions }}
                {%- endif %}
            </div>
        </section>
    </div>
</div>
