{% include "layout.html" %}

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      {% include "partials/mainmenu.njk" %}

      <section class="ui stacked segment grid">
          <div class="ui grid">
              <aside class="three wide column">
                  <img class="ui image" src="/images/Beacha_sculpture_by_David_Walsh.jpg">
              </aside>
              <article class="thirteen wide column">

                  {%- include "partials/poislist.njk" %}

              </article>
          </div>
      </section>
      <section class="ui stacked segment">
          <div class="ui grid">
              <article class="ten wide column">
                  {%- if pois %}
                      {%- include "partials/addpoi.njk" %}
                  {%- endif %}
              </article>
              {%- include "partials/error.njk" %}
          </div>
      </section>

  </div>
</div>
~     
