{% include "layouts/main.html" %}

{% from "partials/macros.njk" import assessmenttable, assessmentrow, analytics, goalrow, goaltable with context %}

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    {% include "partials/menu.njk" %}

    {{ analytics(member, memberStats) }}    {# call my nunjunks macro #}

    <section class="ui segment">
      <div class="ui stacked segment">
        <h2 class="ui block inverted header">
          <img src="/images/goal_banner.png" class="ui huge image">Goals
        </h2>

          {% include "partials/addgoal.njk" %}

          {% if goalList %}
              {{ goaltable(goalList, user, true, true) }}   {# nunjunks macro #}

          {%  else %}
              {{  'No goals found.' }}

          {% endif %}

      </div>
      <div class="ui stacked segment">
        <div class="ui stacked segment">
          <h2 class="ui block inverted header">
            <img src="/images/assessment_banner.png" class="ui huge image">Assessments
          </h2>

        {% if assessmentList %}
            {{ assessmenttable(assessmentList, member, true, True) }}   {# call my nunjunks macro #}

        {%  else %}
            {{  'No assessments found.' }}

        {% endif %}

      </div>
    </section>
  </div>
</div>
<script>
    $('#yearfirst').calendar({
        startMode: 'year'
    });
</script>
