<form class="ui segment form" action="/report/{{ region._id }}/poi/add" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="point of interest name" type="text" name="name">
    </div>
    <div class="field">
      <label>Description</label>
      <input placeholder="detailed description" type="text" name="description">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Latitude</label>
      <input placeholder="nn.nnnnnnnn" type="text" name="latitude">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="-nn.nnnnnnnn" type="text" name="longitude">
    </div>
  </div>
  <button class="ui blue submit button"> Add Point of Interest for {{ region.title }}</button>
</form>
<script>
    $('.ui.dropdown')
        .dropdown();
</script>
