                <div class="ui attached message">
                    <p>Fill out the form below to create new record</p>
                </div>
        
                <form class="ui form segment" action="/region/poi/add" method="POST">
                    <h3 class="ui header">Create Point of Interest</h3>
                    <div class="field">
                        <label>Name</label>
                        <input placeholder="POI Name" type="text" name="Name">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <input placeholder="Description" type="text" name="description">
                    </div>
                    <div class="field">
                        <div class="ui large button">
                           <button class="ui blue submit button">Create</button>
                        </div>
                    </div>
                    <div class="column">
                         {{ errors }}
                    </div>
                </form>
