    <div class="column">
        <div class="ui attached message">
            <p>Fill out the form below to create new record</p>
        </div>

        <form class="ui form segment" action="/region/poi/add" method="POST">
            <h3 class="ui header">Create</h3>
            <div class="field">
                <label>Name</label>
                <input placeholder="Name" type="text" name="Name">
                <div class="ui pointing label">Enter name</div>
            </div>
            <div class="field">
                <label>Last Name</label>
                <input placeholder="Last Name" type="text" name="lastName">
                <div class="ui pointing label">Enter your lastname</div>
            </div>
            <div class="field">
                <div class="ui large button">
                   <button class="ui blue submit button">Create</button>
                </div>
            </div>
            <div class="column">
                 {{ errors }}
            </div>
        </form>
    </div>
