<form class="ui segment form" action="/home/region/add" method="POST">
  <div class="field">
    <div class="field">
      <label>Title</label>
      <input placeholder="irish geographic region category" type="text" name="title">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Latitude</label>
      <input placeholder="nn.nnnnnnnn" type="text" name="latitude">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="-nn.nnnnnnnn" type="text" name="longitude">
    </div>
  </div>
  <button class="ui blue submit button"> Add Region</button>
</form>
<script>
    $('.ui.dropdown')
        .dropdown();
</script>
