<section class="ui left aligned doubling one column stackable grid container">
    <div class="column">
        <div class="ui attached message">
            <p>Fill out the form below to create new record</p>
        </div>

        <form class="ui form segment" action="/region/add" method="POST">
            <h3 class="ui header">Create</h3>
            <div class="field">
                <label>Title</label>
                <input placeholder="Title" type="text" name="Title">
                <div class="ui pointing label">Enter title</div>
            </div>
            <div class="field">
                <div class="ui large button">
                   <button class="ui blue submit button">Create</button>
                </div>
            </div>
            <div class="column">
                 {{ errors }}
            </div>
        </form>
    </div>
</section>
