{% if errors %}
    <div class="ui negative message transition">
        <i class="close icon"></i>
        <div class="header">
          There was a problem...
        </div>
        <ul class="list">
          {% for e in errors %}
            <li>{{ e.message }}</li>
          {% endfor %}
        </ul>
    </div>
{% endif %}
