{% macro regionrow(region, deletable, editable) %}
    <tr>
        <td> {{ region.title }} </td>

        {% if deletable %}
            <td>
                <i class='icon trash'></i>
            </td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro regiontable(regions, deletable, editable) %}

    <table class="ui celled table">
        <thead>
          <tr>
            <th> name </th>
            <th> nameHtml </th>
            <th> safeName </th>
            <th> description </th>
            <th> costalZone </th>
            {% if deletable %}
                <th> Action </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>

        {% for region in regions %}
            {{ regionrow(region, deletable, editable) }}
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}

{% macro poirow(poi, region, deletable, editable) %}
    <tr>
        <td> {{ poi.name }} </td>
        <td> {{ poi.description }}</td>
        <td>
            {% if editable %}
                <form class="ui form" action="/editdesc/{{ poi.id }}" method="POST">
                    <div class="ui field">
                        <textarea rows="2" name="desc"> {{ poi.desc }} </textarea>
                    </div>
                    <button class="ui tiny blue submit button"> Update </button>
                </form>
            {% else %}
                {{ poi.description }}
            {% endif %}
        </td>

        {% if deletable %}
            <td>
                <i class='icon trash'></i>
            </td>
        {% endif %}
    </tr>
{% endmacro %}


{% macro poitable(pois, region, deletable, editable) %}

    <table class="ui celled table">
        <thead>
          <tr>
            <th> name </th>
            <th> nameHtml </th>
            <th> safeName </th>
            <th> description </th>
            <th> costalZone </th>
            {% if deletable %}
                <th> Action </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>

        {% for poi in pois %}
            {{ poirow(poi, region, deletable, editable) }}
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}
