        <div class="ui container">
            <nav class="ui large secondary inverted pointing menu">
                <a class="toc item">
                  <i class="sidebar icon"></i>
                </a>
                <header class="header item"><a href="/"> Points of Interest</a></header>
                <div class="right menu">
                    <a id="home"   class= "item" href="/poi/home"> Create</a>
                    <a id="report" class= "item" href="/poi/report"> Report</a>
                    <a id="settings" class= "item" href="/settings"> Settings</a>
                    <a id="logout" class= "item" href="/logout"> Logout</a>
                </div>
            </nav>
        </div>
        
        <script>
            $("#{{_id}}").addClass("active item");
        </script>
