        <div class="ui stackable doubling container">
          <div class="ui secondary inverted stackable doubling pointing menu">
                <a class="toc item">
                  <i class="sidebar icon"></i>
                </a>
                <div class="left floated item">
                    <div class="ui blue buttons">
                        <a id="home" class="ui inverted button" href="/home">Points of Interest</a>
                        <a id="privacy" class="ui inverted button" href="/privacy"> Privacy </a>
                        <a id="settings" class="ui inverted button" href="/settings"> Settings  </a>
                    </div>
                </div>
                <div class="right floated item">
                    <div class="ui green buttons">
                    {%- if pois or regions %}
                        <a id="regions" class="ui inverted button" href="/home"> Regions </a>
                    {%- endif %}
                        <a id="logout" class="ui inverted button" href="/logout"> Logout </a>
                    </div>
                </div>
            </div>
          </div>

        <script>
            $("#{{_id}}").addClass("active item");
        </script>
