   <section class="ui raised segment">
       <div class="ui grid ">
             <div class="ui stacked segment">
                <h1>Points of Interest in the {{ region.title }} region</h1> 
                {% if pois %}
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th> name </th>
                            <th> description </th>
                            <th> category </th>
                            {% if deletable %}
                                <th> Action </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for poi in pois %}
                        <tr>
                            <td>{{ poi.name }}</td>
                            <td>{{ poi.description }}</td>
                            <td>{{ region.title }}</td>
                            <td>
                                <a href='/report/{{ region._id }}/poi/{{ pois._id }}/delete' class="ui large button">
                                    <i class='icon trash'></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
             </div>
       </div>
   </section>
