   <section class="ui raised segment">
       <div class="ui grid ">
             <div class="ui stacked segment">
                   <h3> Select a Region </h3>
        
                    {% if regions %}
                    <table class="ui celled table">
                    <thead>
                        <tr>
                            <th> name </th>
                            <th> variable </th>
                            <th> identifier </th>
                            <th> latitude </th>
                            <th> longitude </th>
                            {% if deletable %}
                                <th> Action </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <form class="ui form segment" method="POST">
                        {% for region in regions %}
                          <tr>
                                <td>{{ region.title }}</td>
                                <td>{{ region.variable }}</td>
                                <td>{{ region.identifier }}</td>
                                <td>{{ region.latitude }}</td>
                                <td>{{ region.longitude }}</td>
                                <td><form action="/report/{{ region._id }}">
                                    <div class="ui large button">
                                         <button class="ui blue submit button">View Points of Interest</button>
                                    </div>
                                </td>
                                        {% if deletable %}
                                <td>
                                    <a href='/home/region/{{ region._id }}/delete' class="ui icon button">
                                    <i class='icon trash'></i></td>
                                </td>
                                        {% endif %}
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
             </div>
       </div>
   </section>
