   <section class="ui raised segment">
       <div class="ui grid ">
           <div class="ui form six wide column">
               <div class="ui stacked segment">
                   <h3> Select a Region </h3>
        
                    {% if regions %}
                    <table class="ui celled table">
                    <thead>
                        <tr>
                            <th> name </th>
                            <th> variable </th>
                            <th> identifier </th>
                            <th> latitude </th>
                            <th> longitude </th>
                            {% if deletable %}
                                <th> Action </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for region in regions %}
                          <tr>
                              <td>{{ region.title }}</td>
                              <td>{{ region.variable }}</td>
                              <td>{{ region.identifier }}</td>
                              <td>{{ region.latitude }}</td>
                              <td>{{ region.longitude }}</td>
                              <td><div class="ui radio checkbox">
                                       <input type="radio" name="id" value="{{ region._id }}">
                                       <label>{{lastName}}, {{firstName}}</label>
                                  </div>
                              </td>
                                      {% if deletable %}
                              <td>
                                  <a href='/home/region/{{ region._id }}/delete' class="ui icon button">
                                  <i class='icon trash'></i></td>
                              </td>
                                      {% endif %}
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

           <aside class="six wide column">
               <img src="images/Beacha_sculpture_by_David_Walsh.jpg" class="ui medium image">
           </aside>
       </div>
   </section>
