        
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a id="home" class="item" href="/">Points of Interest</a>
            <div class="right item">
              <a id="privacy" class="ui inverted button" href="/privacy"> Privacy </a>
              <a id="signup" class="ui inverted button" href="/signup/show"> Signup  </a>
              <a id="login" class="ui inverted button" href="/login">  Login   </a>
            </div>
          </div>
        </div>
