        
        <div class="ui stackable doubling container">
          <div class="ui secondary inverted stackable doubling pointing menu">
                <div class="left floated item">
                    <div class="ui blue buttons">
                        <a id="home" class="ui inverted button" href="/">Points of Interest</a>
                        <a id="privacy" class="ui inverted button" href="/privacy"> Privacy </a>
                    </div>
                </div>
                <aside class="center floated item">
                    <div class="ui red buttons">
                        <a id="signup" class="ui red inverted button" href="/jwt/signup"> Signup  </a>
                        <a id="login" class="ui red inverted button" href="/jwt/login">  Login   </a>
                    </div>
                </aside>
                <div class="right floated item">
                    <div class="ui green buttons">
                        <a id="signup" class="ui inverted button" href="/secure/oauth"> OAuth  </a>
                    </div>
                </div>
            </div>
          </div>
