{% include "layouts/main.html" %}
  
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        {%- include "partials/welcomemenu.html" %}

        <section class="ui left aligned doubling one column stackable grid container">
            <div class="column">
                {{ poilist }}
            </div>
        </section>
    </div>
</div>
